<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- add key="MailService_Implementation" value="WIT.Common.Mailer.MockupMailService,WIT.Common.Mailer"/ -->
    <add key="MailService_Implementation" value="WIT.Common.Mailer.SMTPMailService,WIT.Common.Mailer"/>
    <add key="MailService_FromAddress" value="apptest@wormholeit.com"/>
    <add key="MailService_FromName" value="Test WIT Common Mailer"/>
    <add key="MailService_ServerHost" value="smtp.gmail.com"/>
    <add key="MailService_ServerPort" value="587"/>
    <add key="MailService_ServerUsername" value="apptest@wormholeit.com"/>
    <add key="MailService_ServerPassword" value="apptest123"/>
    <add key="MailService_UseSSL" value="true"/>
    <add key="MailService_SendMockupsMailsTo" value=""/>
  </appSettings>
</configuration>