<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="importResourcesExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\resources.xls;Extended Properties=Excel 8.0;" />
    <add key="importResourceExcelDestination" value="C:\{ResourcesType}.{Culture}.resx" />
    <add key="resourcesType" value="WIT.LMS.GlobalResources" />
  </appSettings>
</configuration>