<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RatesSourceFile" value="P:\WitCommon\WIT.Common.CurrencyConverter\src\WIT.Common.CurrencyConverter\Source\Currencies.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ServicesBinding" maxReceivedMessageSize="10485760" maxBufferSize="10485760" maxBufferPoolSize="10485760" transferMode="Streamed">
          <readerQuotas maxArrayLength="656000" maxBytesPerRead="656000" maxStringContentLength="656000" maxNameTableCharCount="656000" maxDepth="320"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="WIT.Common.CurrencyConverter.CurrencyConverterBehavior" name="WIT.Common.CurrencyConverter.CurrencyConverter">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="ServicesBinding" contract="WIT.Common.CurrencyConverter.ICurrencyConverter"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://wit.local/wit.currencyconverter/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WIT.Common.CurrencyConverter.CurrencyConverterBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>