<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value=".\\WIT.Common.AutomaticMailer.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <!--<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="soporte@wormholeit.com" />
      <from value="error@lms.wormholeit.com" />
      <subject value="LSM Error Report" />
      <smtpHost value="whdev1" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>-->

    <logger name="WIT.Common.AutomaticMailerLog">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <!-- Logger name -->
    <add key="WIT.Common.Logger_LoggerName" value="WIT.Common.AutomaticMailerLog" />
    <!-- Format for logged errors -->
    <add key="WIT.Common.Logger_LogErrorFormat" value="N°: [errorNumber]\r\n\tMessage: [message]\r\n\tException: [exceptionMessage]\r\n\tStack Trace: [exceptionStackTrace]" />
    <add key="LocalXMLConfigurationFile" value="P:\WIT-Common\WIT.Common.AutomaticMailer\src\WIT.Common.AutomaticMailer\SchedulableMailingConfiguration\SchedulableMailingConfiguration.xml"/>
    <add key="ISchedulableMailerDAO" value="WIT.Common.AutomaticMailer.Sender.DAO.LocalXMLSchedulableMailerDAO,WIT.Common.AutomaticMailer.Sender"/>
    <add key="MailService_Implementation" value="WIT.Common.Mailer.MockupMailService,WIT.Common.Mailer"/>
  </appSettings>
</configuration>