<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\\WIT.Common.ServiceRunner.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <!--<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="soporte@wormholeit.com" />
      <from value="error@lms.wormholeit.com" />
      <subject value="LSM Error Report" />
      <smtpHost value="whdev1" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>-->

    <logger name="WIT.Common.ServiceRunnerLog">
      <level value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="LocalXMLConfigurationFile" value="C:\\devel\\proyectos\\WIT.Common\\WIT.Common.ServiceRunner\\src\\ServiceRunner\\SchedulableServicesConfiguration\SchedulableServicesConfiguration.xml"/>
    <add key="ISchedulableServiceDAO" value="WIT.Common.ServiceRunner.DAO.LocalXMLSchedulableServiceDAO,WIT.Common.ServiceRunner"/>
    <add key="ExcecutionGapInMillisecs" value="10000"/>
  </appSettings>
</configuration>